.funds{
    padding: 15px;
    height: 88vh;
    overflow: scroll;
}

.fund:hover{
    background-color: #ffe;
}

.tag{
  overflow-wrap: break-word;
  word-break: break-all;
  height: auto !important;
  white-space: unset !important;  

}


.NAV{
  width: 100%;
  font-size: 1.8em;
  margin-bottom: 10px;
  color: green;
}
